#word {
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Aumenta o espaçamento entre as palavras */
    letter-spacing: 2px; /* Reduz o espaçamento entre as letras */
    overflow: hidden; /* Evita que palavras extrapolem o contêiner */
    max-width: 100%;
    margin: 0 auto;
}

.missing-letter {
    color: red;
    font-weight: bold;
}

#word span {
    margin-right: 10px; /* Aumenta o espaçamento entre as letras dentro das palavras */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    #word {
        font-size: 1.5em;
        /* Reduz o tamanho da fonte para telas menores */
        letter-spacing: 2px; /* Ajusta o espaçamento das letras */
    }

    .box {
        width: 100%;
        /* As boxes ocupam 100% da largura em telas menores */
        margin-bottom: 20px;
        /* Margem inferior para espaçamento entre as boxes */
    }

    #letter-buttons button {
        width: 35px;
        /* Botões um pouco menores */
        height: 35px;
        font-size: 1em;
        /* Tamanho de fonte ajustado */
    }
}
